/* #_99 {
    background-color: saddlebrown;
} */

body {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
}
.gametable {
    display: grid;
    grid-template-columns: auto auto auto;
    /* float: left; */
    justify-content: left;
    border: 3px solid black;
}

.gametable__box__table {
    border: 3px solid black;
}

.gametable__box__table input {
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
    -moz-appearance: textfield;
    text-align: center;
    caret-color: transparent;
}
.gametable__box__table input.success {
    background-color: lightgreen;
}
.gametable__box__table input.wrong {
    background-color: red;
}
.gametable__box__table input:disabled {
    background-color: lightgray;
}

.gametable__box__table input::-webkit-outer-spin-button,
.gametable__box__table input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.gametable__box__table td {
    padding: 0;
    height: 30px;
    width: 30px;
}

.status {
    margin-top: 2em;
    max-width: fit-content;
    /* background-color: lightgreen; */
    /* width: 100%; */
    padding: 15px;
    border-radius: 15px;
    /* font-size: 1.1em; */
    font-weight: bold;
    display: none;
}

.status.error {
    background-color: red;
    display: block;
}
.status.success {
    background-color: lightgreen;
    display: block;
}
