input[type="number"] {
    height: 20px;
    width: 20px;
    margin: 0;
    /* padding: 0; */
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:nth-child(3),
input[type="number"]:nth-child(6),
input[type="number"]:nth-child(12),
input[type="number"]:nth-child(15),
input[type="number"]:nth-child(21),
input[type="number"]:nth-child(24),
input[type="number"]:nth-child(30),
input[type="number"]:nth-child(33),
input[type="number"]:nth-child(39),
input[type="number"]:nth-child(42),
input[type="number"]:nth-child(48),
input[type="number"]:nth-child(51),
input[type="number"]:nth-child(57),
input[type="number"]:nth-child(60),
input[type="number"]:nth-child(66),
input[type="number"]:nth-child(69),
input[type="number"]:nth-child(75),
input[type="number"]:nth-child(78),
input[type="number"]:nth-child(84),
input[type="number"]:nth-child(87) {
    margin-right: 20px;
    border-right-width: 5px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

/* // add bottom margins on row 3, 6  */

.gametable {
    border: 3px solid black;
    max-width: 329px;
}
.gametable__linebreak::after {
    content: " /a ";
    white-space: pre;
}
